<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facial Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome!</h1>
            <h3>This is a facial analysis app. Upload an image and I'll guess how you're feeling:</h3>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>